{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Genre {{ genre.categoryName }}! ✅</h1>

    LightNovels dans la catégorie :
    <ul>
        {% for lightnovel in genre.lightnovels %}
            <li><a href="{{ path('lightnovel', {'title': lightnovel.title}) }}">{{ lightnovel }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
