{% extends 'base.html.twig' %}

{% block title %}New LnList{% endblock %}

{% block body %}
    <h1>Créer votre liste personnalisée</h1>

    {{ include('ln_list/_form.html.twig') }}

    <a href="{{ path('app_ln_list_index') }}">back to list</a>
{% endblock %}
